<!DOCTYPE html>
<html>
<head>
  <title>For-Never Alone Project</title>
  	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-narrow">
		<div class="row-fluid">
			<div class="span12">
			<!-- login/logout form -->
				<!-- Button to trigger modal -->
				<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
				 
				<!-- Modal -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Modal header</h3>
				  </div>
				  <div class="modal-body">
				    <p>One fine body…</p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				    <button class="btn btn-primary">Save changes</button>
				  </div>
				</div>
				  <% if current_user %>
				    <%= link_to "Log Out", sessions_destroy_path, :class => 'btn' %>
					<% else %>
					    <%= form_tag sessions_create_path do %>
					        <%= text_field_tag :username, nil, placeholder: "username" %>
					        <%= password_field_tag :password, nil,  placeholder: "password" %>
					        <%= submit_tag "Log In", :class => 'btn' %>
					    <% end %>
					<% end %>
				
			
			<!-- end login form -->
			<div class="containerTopbar">
				<div class="span6">
					<h1>For Never Alone</h1>
				</div>	
				<div class="span3">
					<h5>Alone or Not Alone...</h5>
				</div>
				<div class="span3">
					<img src="/img/logo.png" width=70>
				</div>
			</div>

			
				<%= yield %>
			
			</div>
		</div>
	</div>
	<!-- javascript -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    
</body>
</html>
